name: alexa_to_ai
description: "アレクサがAIと連携する際に参照する設定を保存する"
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  # 画面遷移の状態管理に使用
  flutter_bloc: ^8.1.4
  # ハンバーガーメニューの実装に使用
  flutter_bloc_pattern: ^2.3.0
  # ChatGPTなどのリクエストに使用
  http: ^1.2.1
  # 各画面の入力状態の保持に使用
  flutter_riverpod: ^2.5.1
  hooks_riverpod: ^2.5.1
  flutter_hooks: ^0.20.5
  # ローカルデータの保存に使用
  hive: ^2.2.3
  path_provider: ^2.1.2
  # 自然な日本語(Noto Sans JPフォント)を使うために必要
  google_fonts: ^6.2.1
  # objectの比較に使用
  equatable: ^2.0.5
  # OpenAIのAPIリクエストに使用
  dart_openai: ^5.1.0
  # 環境変数を読み込むために使用
  flutter_dotenv: ^5.1.0
  # チャット画面のUIに使用
  flutter_chat_ui: ^1.6.12
  flutter_chat_types: ^3.6.2
  # Google AIのAPIリクエストに使用
  google_generative_ai: ^0.3.2
  # anthropic(Claude)のAPIリクエストに使用
  # 自前(http)で実行すると3秒くらいだが、このパッケージ使うと3倍くらい遅くなるのでやめた(忘れないようにコメントアウトで残しておく)
  # anthropic_dart: ^1.0.1
  # 生体認証に使用
  local_auth: ^2.2.0
  # cognitoの認証に使用
  amplify_flutter: ^2.0.0
  amplify_auth_cognito: ^2.0.0
  amplify_authenticator: ^2.0.0
  # ログ出力に使用
  logger: ^2.3.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  hive_generator: ^2.0.1
  build_runner: ^2.4.8
  flutter_lints: ^2.0.0
  # アプリアイコンの設定に使用
  flutter_launcher_icons: ^0.13.1
  # アプリ名の変更に使用
  rename_app: ^1.3.2

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  assets:
    - .env
  fonts:
    - family: NotoSansJP
      fonts:
        - asset: assets/google_fonts/NotoSansJP-Regular.ttf
# アプリアイコンの設定
flutter_icons:
  image_path: "assets/images/app_icon.png"
  ios: true
  remove_alpha_ios: true
  android: true
  adaptive_icon_background: "assets/images/launcher/icon_adaptive_background.png"
  adaptive_icon_foreground: "assets/images/launcher/icon_adaptive_foreground.png"
